body{
  background-color: black;
  color: #FFF;
}
a {
  text-decoration: none;
}
/* .img-fluid {
  max-width: 100%;
  height: 110%;
} */
.explore.link.btn{
  position: absolute;
    left: 50%;
    bottom: -183px;
    transform: translate(-50%, -14%);
    background: #624BFF;
    border-radius: 70%;
    padding: 25px;
    cursor: pointer;
  }
.explore{
  position: relative;
  border: 2px solid #fff;
  border-radius :45px
}
.main-image{
 width: 600px;
}
.popular-courses {
  margin-top: 210px;
}
.student-cards.ps-2.ms-2.d-flex.rounded-5.bg-light.text-black {
  width: 232px;
  padding: 7px;
}
.student-each-row{
  background: #212121;
  /* width: 320px; */
  border-radius: 0 0 12px 12px;
  height: 500px;
}
.enroll-btn-container{
  text-align: right;
    padding-right: 12px;
    padding-bottom: 11px;
}
button.btn.card-button-1 {
  padding-left: 116px;
  margin-top: 23px;
  text-decoration: none;
   color: #f8da64;
}
button.btn.card-button-2 {
  padding-left: 116px;
}
button.btn.card-button-3 {
  padding-left: 116px;
}
h2.secound-header.text-center {
  margin-top: -161px;
}
.col-md-3.bg-dark.px-2.text-light {
  width: 336px;
  height: 178px;
  border-radius: 5px;
  margin-top: -39px;
  margin-left: 20px;
}
.col-md-3.mt-5.bg-dark.px-4.text-light {
  width: 336px;
  border-radius: 47px;
  height: 290px;
  margin: 1px;
}
.student-details.mt-5.bg-dark.px-4.text-light {
  width: 445px;
  border-radius: 14px;
  height: 400px;
}
/* p.student-name {
  margin-top: -75px;
  padding-left: 202px;
}
/* .img-fluid {
  max-width: 100%;
  height: auto;
  padding: 8px;
  margin-right: 143px;
}
/* p.course-name {
  padding-left: 84px;
}
p.rating {
  margin-top: -21px;
  padding-left: 172px;
} */ */ */
h1 {
  padding-left: 127px;
}
p.tick-icon {
  padding-left: 118px;
}
.border-box.text-info {
  padding-left: 142px;
}
.Offer.p-5.ms-5 {
  background: #624BFF;
  margin-top: 26px;
  width: 90%;
}
h2.offer-time-heading {
  padding-left: 745px;
  margin-top: -144px;
}
.timer-setup {
  display: flex;
  padding-left: 730px;
}
p.timer {
  padding: 20px;
  margin-top: -30px;
}
p.hours-cal {
  padding-left: 31px;
}
p.horizontal-line{
  height: 1px;
  display: block;
  background: #fff;
  width: 76%;
  margin: auto;
}
img.dash-line {
    padding-left: 643px;
}
h2.member-name {
  margin-top: -263px;
  padding-left: 38px;
}
p.member-designation {
  padding-left: 76px;
}
.team-mate-2 {
  margin-top: 121px;
  padding-left: 10px;
}
footer.Location.details.my-5.mt-5 {
  padding: 120px;
}
/* .Instutite.Address {
  background-color: honeydew;
  color: black;
  padding-left: 11px;
  margin-top: 15px;
  border-radius: 25px;
} */

/* .container-fluid {
  margin-top: -46px;
} */

h2.banner-heading {
  font-size: 56px;
  margin-top: -285px;
  text-align: center;
}
p.banner-para {
  text-align: center;
  font-size: 24px;
}
p.underline {
  text-align: center;
  margin-top: -45px;
}
.container {
  margin-top: 115px;
  padding: 1px;
}
/* .container-fluid {
  margin-top: 102px;
  padding: 22px;
} */
.col-md-9 {
  background: darkgrey;
  color: #fff;
}
.qa-container {
  /* background: darkgray;
  color: #fff; */
  padding: 20px;
  margin-top: -6px;
}
p.name-icon {
  color: cyan;
  padding: 16px 14px;
  border-radius: 18px;
}
p.question {
  padding-left: 53px;
  margin-top: -58px;
}
.answer-block {
  background-color: black;
  padding: 14px 10px;
}
p.answer {
  max-width: 98%;
  padding: 7px 48px;
  font-weight: 200;
  border-left: 3px solid #3CAA56;
  margin-top: -4px;
}
img.like-btn {
  cursor: pointer;
  margin-top: -16px;
}
.each-question-block-2 {
  margin-top: -32px;
}
.col-md-3 {
  padding: 1px 1px;
  background: dimgrey;
  padding-left: 10px;
  /* width: 25%;
  max-width: 26%; */
}
/* .each-form-block {
  margin-top: 20px;
}
button.btn.btn-submit{
  border: 1px solid #F7DA64;
  color: #f7da64;
  margin-top: 20px;
  padding: 6px 59px;
  border-radius: 58px;
}
.enroll-form-container {
  margin-top: -45px;
  padding-left: 10px;
}
form.enroll-details {
  padding-left: 153px;
  background-color: darkgray;
}
.modal-content {
  padding-left: 92px;
}
button.close {
  padding-left: 649px;
} */
/* .banner-fe-img {
  padding-left: 106px;
  background-color:black;
} */
.enroll-btn-container-2 {
  text-align: right;
  margin: 20px;
}
.container-fluid.int-add {
  margin-top: -383px;
  padding-left: 30px;
  color: black;
}
p.footer-bg {
  margin-top: 155px;
  padding-left: 14px;
}
p.student-name {
  padding-left: 22px;
  margin-top: -83px;
}
p.course-name {
  padding-left: 87px;
  margin-top: -9px;
}
p.rating {
  padding-left: 13px;
  margin-top: -13px;
}
img.img-fluid.student-image {
  padding-right: 290px;
  margin-top: 24px;
}
p.student-feedback {
  margin-top: 58px;
}
.modal-content {
  background: #212121;
}
.form-control {
  background: #212121;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  padding-left: 0;
}
.form-select {
  background: #212121;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #fff;
}
.register-btn button {
  margin: 10px;
  padding: 16px 58px 18px 129px;
  color: #e3c75c;
  margin-right: -121px;
}
.input-content input:focus {
  background: #212121;
}
.input-content input::placeholder {
  color: #545353;
}

.input-content textarea:focus {
  background: #212121;
}
h1 {
  padding-left: 101px;
}
section.early-slot {
  margin-top: 100px;
}

@media screen and (max-width: 767px){
.nav-bar.d-flex.justify-content-evenly.p-5 {
  margin-left: -46px;
}
.col-md-3 {
  width: 299px;
  padding: 1px 1px 3px 4px;
  margin: 15px 0px 10px;
}
.inner-container.grid.text-center.py-5.gy-3.gx-md-5.gy-md-4 {
  padding: 22px;
  margin-top: -33px;
}
.col-md-3.bg-dark.px-2.text-light {
  margin-top: 10px;
}
.col-md-3.mt-5.bg-dark.px-4.text-light {
  margin-left: 164px;
}
}