body{
    background-color: black;
    color: #FFF;
}
.nav-bar {
    display: flex;
    justify-content: space-evenly;
    padding: 49px;
   }
   h1.header {
    padding: 14px;
  }
   .row-2 {
    padding-left: 35px;
  }

  .image {
    position: relative;
    padding-left: 567px;
    margin-top: -465px;
  }
  
  .explore.link {
    padding-left: 540px;
    margin-top: -92px;
  }
  .popular-courses {
    padding-left: 509px;
    margin-top: 104px; 
  }
  .courses {
    flex-wrap: wrap;
    padding-left: 295px;
    justify-content: space-evenly;
  }
  .student-cards {
    display: flex;
  }
  .text-right.enroll-btn-container {
    padding-left: 155px;
  }
  h2.secound-header {
    padding-left: 88px;
  }
  p.line {
    padding-left: 74px;
  }
  p.para {
    padding-right: 425px;
  }
  .row {
    padding: 129px;
  }
  p.dreams {
    padding-left: 74px;
 }
 p.img-2 {
    padding-left: 106px;
 }
 .inner-container {
    margin-top: -104px;
  }
 .content {
    margin-top: -228px;
 }
 span.dash-line {
    padding-left: 590px;
  }
  h4.secound-header.text-black {
    padding-left: 554px;
   
  }
  .learning-section {
    margin-top: -98px;
    padding-left: 1px;
  }
  p.img-3 {
    padding: 32px;
    text-align: center;
  }
  p.practical.learning {
    padding-left: 81px;
    margin-top: -30px;
  }
  p.para-2 {
    padding-left: 15px;
  }
  .each-point {
    display: flex;
  }
  p.about-page {
    padding-left: 4px;
  }
  .hashinclude-stats {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: #FFF;
    margin-top: -76px;
  }
  span.line {
    padding-left: 576px;
  }
  span.line {
    padding-left: 580px;
  }
  h2.heading {
    padding-left: 2px;
  }
  h5.heading {
    padding-left: 554px;
    margin-bottom: -89px;
    margin-top: 32px;
    }
  p.student1 {
    padding-left: 29px;
  }
  .student-info {
    padding-left: 24px;
   }
   p.student-feedback {
    padding-left: 21px;
   }
   h2.offer-time-heading {
    padding-left: 29px;
   }
   .offer-time {
    padding-left: 695px;
    margin-top: -190px;
   }
   .timer-setup {
    display: flex;
  }
  p.timer {
    padding: 20px;
    margin-top: -30px;
  }
  p.hours-cal {
    padding-left: 31px;
  }
  h1 {
    padding-left: 108px;
  }
  p.tick-icon {
    padding-left: 93px;
  }
  .border-box {
    padding-left: 103px;
  }
  footer.Location.details {
    padding-left: 0px;
    padding-top: 113px;
  }
  h6.footer-heading {
    padding-left: 566px;
    margin-top: -363px;
  }
  p.courses-info {
    padding-left: 564px;
  }
  h4.foorter-heading {
    padding-left: 682px;
    margin-top: -215px;
  }
  p.links-page {
    padding-left: 681px;
  }
  .Hash.Include.Map {
    padding-left: 876px;
    margin-top: -139px;
  }