body{
  background-color: black;
  color: #FFF;
}
.explore.link.btn{
  position: absolute;
    left: 50%;
    bottom: -183px;
    transform: translate(-50%, -14%);
    background: #624BFF;
    border-radius: 70%;
    padding: 25px;
    cursor: pointer;
  }
.explore{
  position: relative;
  border: 2px solid #fff;
  border-top :0px
  border-radius :30px
  margin-top : 0px;
}
.main-image{
 width: 600px;
}
.popular-courses {
  margin-top: 210px;
}
.student-cards.ps-2.ms-2.d-flex.rounded-5.bg-light.text-black {
  width: 232px;
  padding: 7px;
}
.student-each-row{
  background: #212121;
  /* width: 320px; */
  border-radius: 0 0 12px 12px;
  height: 500px;
}
.enroll-btn-container{
  text-align: right;
    padding-right: 12px;
    padding-bottom: 11px;
}
button.btn.card-button-1 {
  padding-left: 116px;
  margin-top: 23px;
  text-decoration: none;
   color: #f8da64;
}
button.btn.card-button-2 {
  padding-left: 116px;
}
button.btn.card-button-3 {
  padding-left: 116px;
}
h2.secound-header.text-center {
  margin-top: -161px;
}
.col-md-3.bg-dark.px-2.text-light {
  width: 336px;
  height: 178px;
  border-radius: 5px;
  margin-top: -39px;
  margin-left: 20px;
}
.col-md-3.mt-5.bg-dark.px-4.text-light {
  width: 336px;
  border-radius: 47px;
  height: 290px;
  margin: 1px;
}
.student-details.mt-5.bg-dark.px-4.text-light {
  width: 445px;
  border-radius: 14px;
  height: 400px;
}
h1 {
  padding-left: 127px;
}
p.tick-icon {
  padding-left: 118px;
}
.border-box.text-info {
  padding-left: 142px;
}
h2.offer-time-heading {
  padding-left: 745px;
  margin-top: -144px;
}
.timer-setup {
  display: flex;
  padding-left: 730px;
}
p.timer {
  padding: 20px;
  margin-top: -30px;
}
p.hours-cal {
  padding-left: 31px;
}
